<div class="sidebar">
    <a href="profile.html" class="author-box">
        <div class="dz-media">
            <img src="assets/images/avatar/chat/2.png" alt="author-image">
        </div>
        <div class="dz-info">
            <h5 class="name">{{configService.defaultConfig.appTitle}}</h5>
            <span class="mail">example gmail.com</span>
        </div>
    </a>
    <ul class="nav navbar-nav">	
        <li>
            <a class="nav-link active" href="index.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-home"></i>
                </span>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="products.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-shopping-bag"></i>
                </span>
                <span>Products</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="componen<appts.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-apps-add"></i>
                </span>
                <span>Components</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="pages.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-diamond"></i>
                </span>
                <span>Pages</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="products.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-star"></i>
                </span>
                <span>Featured</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="wishlist.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-heart"></i>
                </span>
                <span>Wishlist</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="my-order.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-receipt"></i>
                </span>
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="chat-list.html">
                <span class="dz-icon">
                    <i class="feather icon-message-circle"></i>
                </span>
                <span>Chat List</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="cart.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-shopping-cart"></i>
                </span>
                <span>My Cart</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="profile.html">
                <span class="dz-icon">
                    <i class="fi fi-rr-user"></i>
                </span>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="welcome.html">
                <span class="dz-icon">
                    <i class="feather icon-log-out"></i>
                </span>
                <span>Logout</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-bottom">
        <ul class="app-setting">
            <li>
                <div class="mode">
                    <span class="dz-icon me-2">                        
                        <i class="icon feather icon-moon"></i>
                    </span>					
                    <span>Dark Mode</span>
                    <div class="custom-switch">
                        <input type="checkbox" class="switch-input theme-btn" id="toggle-dark-menu">
                        <label class="custom-switch-label" for="toggle-dark-menu"></label>
                    </div>					
                </div>
            </li>
        </ul>
        <div class="app-info">
            <h6 class="name font-w400"><b>PetPerks</b> Pet Care Shop</h6>
            <span class="ver-info">App Version 1.0</span>
        </div>
    </div>
</div>