<main class="page-content">
    <div class="container px-0 pt-0">
        <div class="row dz-authentication-area" style="padding-top: 50px !important;">
            <!-- Columna izquierda (4 columnas de 12) -->
            <div class="col-lg-4 dz-left">
                <div class="dz-media">
                    <img src="assets/images/authentication/pic2.png" alt="">
                    <a href="javascript:void(0);" class="back-btn">
                        <i class="icon feather icon-chevron-left"></i>
                    </a>
                </div>
                <div class="section-head">
                    <h3 class="title">Crea tu cuenta</h3>
                    <p>Bienvenido, ingresa tus datos y registrate</p>
                </div>
            </div>
            <div class="col-lg-2 ">
                </div>
            <!-- Columna derecha (8 columnas de 12) -->
            <div class="col-lg-5 dz-right">
                <div class="account-section">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" for="name">Nombre*</label>
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email *</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Contraseña*</label>
                            <div class="input-group input-group-icon mb-2">
                                <input type="password" id="password" class="form-control dz-password">
                                <span class="input-group-text show-pass">
                                    <i class="icon feather icon-eye-off eye-close"></i>
                                    <i class="icon feather icon-eye eye-open"></i>
                                </span>
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="Checked-1">
                                <label class="form-check-label" for="Checked-1">Estoy de acuerdo con los Términos, la Política de Privacidad y las Tarifas</label>
                            </div>
                        </div>
                        <a href="sign-in.html" class="btn btn-thin btn-lg w-100 btn-primary">Crear cuenta</a>
                        <!-- <div class="dz-saprate py-4">
                            <span>O registrate con</span>
                        </div>
                        <div class="social-btn-group">
                            <a href="javascript:void(0);" class="dz-icon icon-lg bg-light rounded-xl"><img src="assets/images/svg/google.svg" alt=""></a>
                            <a href="javascript:void(0);" class="dz-icon icon-lg bg-light rounded-xl"><img src="assets/images/svg/apple.svg" alt=""></a>
                        </div> -->
                        <div class="btn-link link-fixed">¿Ya tienes una cuenta?  <a (click)="global.setRoute('login')" style="cursor: pointer;"  class="text-underline font-w600">Inicia sesión</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
