<header class="header header-fixed style-3">
    <div class="header-content">
        <div class="left-content">
            <a href="javascript:void(0);" class="menu-toggler bg-white pe-2 rounded-xl">
                <div class="media">
                    <div class="media-35 m-r10">
                        <img class="rounded-xl" src="assets/images/avatar/1.png" alt="">
                    </div>
                    <h6 class="mb-0 font-13">Hello’ Roopa</h6>
                </div>
            </a>
        </div>
        <div class="mid-content"></div>
        <div class="right-content d-flex align-items-center gap-3">
            <a href="notification.html" class="notification-badge font-20">
                <i class="icon feather icon-bell"></i>
                <span class="badge badge-danger">14</span>
            </a>
            <a href="search.html" class="icon font-20">
                <i class="icon feather icon-search"></i>
            </a>
        </div>
    </div>
</header>