<div class="page-wrapper">
    
	<!-- Preloader -->
	<div id="preloader">
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
    <!-- Preloader end-->
	
	<!-- Header -->
		<header class="header header-fixed style-3">
			<div class="header-content">
				<div class="left-content">
					<a href="javascript:void(0);" class="menu-toggler bg-white pe-2 rounded-xl">
						<div class="media">
							<div class="media-35 m-r10">
								<img class="rounded-xl" src="assets/images/avatar/1.png" alt="">
							</div>
							<h6 class="mb-0 font-13">Hello’ Roopa</h6>
						</div>
					</a>
				</div>
				<div class="mid-content"></div>
				<div class="right-content d-flex align-items-center gap-3">
					<a href="notification.html" class="notification-badge font-20">
						<i class="icon feather icon-bell"></i>
						<span class="badge badge-danger">14</span>
					</a>
					<a href="search.html" class="icon font-20">
						<i class="icon feather icon-search"></i>
					</a>
				</div>
			</div>
		</header>
	<!-- Header -->
	
	<!-- Sidebar -->
    <div class="dark-overlay"></div>
	<div class="sidebar">
		<a href="profile.html" class="author-box">
			<div class="dz-media">
				<img src="assets/images/avatar/chat/2.png" alt="author-image">
			</div>
			<div class="dz-info">
				<h5 class="name">{{configService.defaultConfig.appTitle}}</h5>
				<span class="mail">example gmail.com</span>
			</div>
		</a>
		<ul class="nav navbar-nav">	
			<li>
				<a class="nav-link active" href="index.html">
					<span class="dz-icon">
						<i class="fi fi-rr-home"></i>
					</span>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="products.html">
					<span class="dz-icon">
						<i class="fi fi-rr-shopping-bag"></i>
					</span>
					<span>Products</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="components.html">
					<span class="dz-icon">
						<i class="fi fi-rr-apps-add"></i>
					</span>
					<span>Components</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="pages.html">
					<span class="dz-icon">
						<i class="fi fi-rr-diamond"></i>
					</span>
					<span>Pages</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="products.html">
					<span class="dz-icon">
						<i class="fi fi-rr-star"></i>
					</span>
					<span>Featured</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="wishlist.html">
					<span class="dz-icon">
						<i class="fi fi-rr-heart"></i>
					</span>
					<span>Wishlist</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="my-order.html">
					<span class="dz-icon">
						<i class="fi fi-rr-receipt"></i>
					</span>
					<span>Orders</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="chat-list.html">
					<span class="dz-icon">
						<i class="feather icon-message-circle"></i>
					</span>
					<span>Chat List</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="cart.html">
					<span class="dz-icon">
						<i class="fi fi-rr-shopping-cart"></i>
					</span>
					<span>My Cart</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="profile.html">
					<span class="dz-icon">
						<i class="fi fi-rr-user"></i>
					</span>
					<span>Profile</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="welcome.html">
					<span class="dz-icon">
						<i class="feather icon-log-out"></i>
					</span>
					<span>Logout</span>
				</a>
			</li>
		</ul>
		<div class="sidebar-bottom">
			<ul class="app-setting">
				<li>
					<div class="mode">
						<span class="dz-icon me-2">                        
							<i class="icon feather icon-moon"></i>
						</span>					
						<span>Dark Mode</span>
						<div class="custom-switch">
							<input type="checkbox" class="switch-input theme-btn" id="toggle-dark-menu">
							<label class="custom-switch-label" for="toggle-dark-menu"></label>
						</div>					
					</div>
				</li>
			</ul>
			<div class="app-info">
				<h6 class="name font-w400"><b>PetPerks</b> Pet Care Shop</h6>
				<span class="ver-info">App Version 1.0</span>
			</div>
        </div>
    </div>
    <!-- Sidebar End -->
	
	<!-- Main Content Start -->
	<main class="page-content space-top p-b60">
		<div class="container pt-0">
			<!-- Banner Start -->
			<div class="dz-banner">
				<div class="swiper banner-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>	
			</div>
			<!-- Banner End -->
	
			<!-- Category End -->
			<app-categories [hidden]="configService.showServices"></app-categories>
			<!-- Category2 Start -->
		<app-services [hidden]="!configService.showServices"></app-services>
	

			<div class="dz-box style-2">
				<div class="title-bar">
					<h5 class="title mb-0">Clínicas recomendadas</h5>
					<a href="products.html">Ver todas</a>
				</div>
				<div class="row ">
						<div class="col-6 col-lg-2 m-b35" *ngFor="let specialist of specialists" >
							<div class="dz-card style-2">
								<div class="dz-media">
									<a href="product-detail.html">
										<img src="{{specialist.images[0]}}" alt="image" class="responsive-image">
									</a>
									
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
										<li class="dz-status"><span>Free delivery</span></li>
									</ul>
								</div>
							</div>
						</div>
					
					
				</div>
				
			</div>

		
			<!-- Beat Deals -->

		

			
		</div>
	</main>
	<!-- Main Content End -->
	
	<!-- Menubar -->
	<div class="menubar-area footer-fixed">
		<div class="toolbar-inner menubar-nav">
			<a href="index.html" class="nav-link active">
				<i class="fi fi-rr-home"></i>
			</a>
			<a href="wishlist.html" class="nav-link">
				<i class="fi fi-rr-heart"></i>
			</a>
			<a href="cart.html" class="nav-link">
				<i class="fi fi-rr-shopping-cart">
					<span class="cart-badge">14</span>
				</i>
			</a>
			<a href="category.html" class="nav-link">
				<i class="fi  fi-rr-document-signed"></i>
			</a>
			<a href="profile.html" class="nav-link">
				<i class="fi fi-rr-user"></i>
			</a>
		</div>
	</div>
	<!-- Menubar -->
	<!-- PWA Offcanvas -->
	<div class="offcanvas offcanvas-bottom pwa-offcanvas">
		<div class="container">
			<div class="offcanvas-body">
				<img class="logo dark" src="assets/images/app-logo/logo.png" alt="">
				<img class="logo light" src="assets/images/app-logo/logo-white.png" alt="">
				<h5 class="title">PetPerks Pet Care Store Ecommerce Mobile App Template</h5>
				<p class="pwa-text">Install "PetPerks Pet Care Store Ecommerce Mobile App Template" to your home screen for easy access, just like any other app</p>
				<button type="button" class="btn btn-sm btn-primary  pwa-btn me-2">Add to Home Screen</button>
				<button type="button" class="btn btn-sm pwa-close btn-secondary">Maybe later</button>
			</div>
		</div>
	</div>
	<div class="offcanvas-backdrop pwa-backdrop"></div>
	<!-- PWA Offcanvas End --> 
	
</div>  