<div class="page-wrapper">
    
	<!-- Preloader -->
	<div id="preloader">
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
    <!-- Preloader end-->
	
	<!-- Header -->
		<app-header></app-header>
	<!-- Header -->
	
	<!-- Sidebar -->
    <div class="dark-overlay"></div>
	<app-sidebar></app-sidebar>
    <!-- Sidebar End -->
	
	<app-home [hidden]="global.activeRoute!='home'"></app-home>
	<app-clinicdetail [hidden]="global.activeRoute!='clinicdetail'"></app-clinicdetail>
	<app-addpet [hidden]="global.activeRoute!='addpet'"></app-addpet>
	
	<!-- Menubar -->
<app-menubar></app-menubar>
	<!-- Menubar -->
	<!-- PWA Offcanvas -->
	<div class="offcanvas offcanvas-bottom pwa-offcanvas">
		<div class="container">
			<div class="offcanvas-body">
				<img class="logo dark" src="assets/images/app-logo/logo.png" alt="">
				<img class="logo light" src="assets/images/app-logo/logo-white.png" alt="">
				<h5 class="title">PetPerks Pet Care Store Ecommerce Mobile App Template</h5>
				<p class="pwa-text">Install "PetPerks Pet Care Store Ecommerce Mobile App Template" to your home screen for easy access, just like any other app</p>
				<button type="button" class="btn btn-sm btn-primary  pwa-btn me-2">Add to Home Screen</button>
				<button type="button" class="btn btn-sm pwa-close btn-secondary">Maybe later</button>
			</div>
		</div>
	</div>
	<div class="offcanvas-backdrop pwa-backdrop"></div>
	<!-- PWA Offcanvas End --> 
	
</div>  