<div class="page-wrapper">
    
	<!-- Preloader -->
	<div id="preloader">
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
    <!-- Preloader end-->
	
	<!-- Header -->
		<header class="header header-fixed style-3">
			<div class="header-content">
				<div class="left-content">
					<a href="javascript:void(0);" class="menu-toggler bg-white pe-2 rounded-xl">
						<div class="media">
							<div class="media-35 m-r10">
								<img class="rounded-xl" src="assets/images/avatar/1.png" alt="">
							</div>
							<h6 class="mb-0 font-13">Hello’ Roopa</h6>
						</div>
					</a>
				</div>
				<div class="mid-content"></div>
				<div class="right-content d-flex align-items-center gap-3">
					<a href="notification.html" class="notification-badge font-20">
						<i class="icon feather icon-bell"></i>
						<span class="badge badge-danger">14</span>
					</a>
					<a href="search.html" class="icon font-20">
						<i class="icon feather icon-search"></i>
					</a>
				</div>
			</div>
		</header>
	<!-- Header -->
	
	<!-- Sidebar -->
    <div class="dark-overlay"></div>
	<div class="sidebar">
		<a href="profile.html" class="author-box">
			<div class="dz-media">
				<img src="assets/images/avatar/chat/2.png" alt="author-image">
			</div>
			<div class="dz-info">
				<h5 class="name">Roopa</h5>
				<span class="mail">example gmail.com</span>
			</div>
		</a>
		<ul class="nav navbar-nav">	
			<li>
				<a class="nav-link active" href="index.html">
					<span class="dz-icon">
						<i class="fi fi-rr-home"></i>
					</span>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="products.html">
					<span class="dz-icon">
						<i class="fi fi-rr-shopping-bag"></i>
					</span>
					<span>Products</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="components.html">
					<span class="dz-icon">
						<i class="fi fi-rr-apps-add"></i>
					</span>
					<span>Components</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="pages.html">
					<span class="dz-icon">
						<i class="fi fi-rr-diamond"></i>
					</span>
					<span>Pages</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="products.html">
					<span class="dz-icon">
						<i class="fi fi-rr-star"></i>
					</span>
					<span>Featured</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="wishlist.html">
					<span class="dz-icon">
						<i class="fi fi-rr-heart"></i>
					</span>
					<span>Wishlist</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="my-order.html">
					<span class="dz-icon">
						<i class="fi fi-rr-receipt"></i>
					</span>
					<span>Orders</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="chat-list.html">
					<span class="dz-icon">
						<i class="feather icon-message-circle"></i>
					</span>
					<span>Chat List</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="cart.html">
					<span class="dz-icon">
						<i class="fi fi-rr-shopping-cart"></i>
					</span>
					<span>My Cart</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="profile.html">
					<span class="dz-icon">
						<i class="fi fi-rr-user"></i>
					</span>
					<span>Profile</span>
				</a>
			</li>
			<li>
				<a class="nav-link" href="welcome.html">
					<span class="dz-icon">
						<i class="feather icon-log-out"></i>
					</span>
					<span>Logout</span>
				</a>
			</li>
		</ul>
		<div class="sidebar-bottom">
			<ul class="app-setting">
				<li>
					<div class="mode">
						<span class="dz-icon me-2">                        
							<i class="icon feather icon-moon"></i>
						</span>					
						<span>Dark Mode</span>
						<div class="custom-switch">
							<input type="checkbox" class="switch-input theme-btn" id="toggle-dark-menu">
							<label class="custom-switch-label" for="toggle-dark-menu"></label>
						</div>					
					</div>
				</li>
			</ul>
			<div class="app-info">
				<h6 class="name font-w400"><b>PetPerks</b> Pet Care Shop</h6>
				<span class="ver-info">App Version 1.0</span>
			</div>
        </div>
    </div>
    <!-- Sidebar End -->
	
	<!-- Main Content Start -->
	<main class="page-content space-top p-b60">
		<div class="container pt-0">
			<!-- Banner Start -->
			<div class="dz-banner">
				<div class="swiper banner-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
						<div class="swiper-slide">
							<div class="inner-banner">
								<div class="left-content">
									<h4 class="title" data-swiper-parallax="-300">We Give Preference To Your Pets</h4>
									<p data-swiper-parallax="-100">No code need. Plus free shipping on <span class="text-success">$99+</span> orders!</p>
									<a href="javascript:void(0);" class="btn btn-thin btn-sm btn-primary">Adopt A Pet</a>
								</div>
								<div class="right-content">
									<div class="dz-media">
										<img src="assets/images/banner/pic1.png" alt="">
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>	
			</div>
			<!-- Banner End -->
			
			<!-- Category Start -->
			<div class="dz-category style-1">
				<div class="title-bar mb-2">
					<h4 class="title">Find Best Category</h4>
					<a href="category.html"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.34367 14.529H26.5006L20.784 8.97173C20.3472 8.54736 20.9951 7.87188 21.4377 8.29976C21.4377 8.29973 27.983 14.6626 27.983 14.6626C28.174 14.8366 28.1588 15.1505 27.983 15.3346C27.983 15.3346 21.4377 21.7003 21.4377 21.7003C20.9972 22.123 20.3456 21.4601 20.784 21.0283C20.784 21.0283 26.5027 15.4665 26.5027 15.4665H2.34367C1.74464 15.4608 1.71379 14.5404 2.34367 14.529Z" fill="var(--primary)"/>
						</svg>
					</a>
				</div>
				<div class="row g-2">
					<div class="col-6">
						<a class="category-bx" href="category.html">	
							<div class="dz-media">
								<img src="assets/images/category/category1/1.png" alt="">
								<span href="category.html" class="category-name">Dogs</span>
							</div>
						</a>
					</div>
					<div class="col-6">
						<a class="category-bx" href="category.html">	
							<div class="dz-media">
								<img src="assets/images/category/category1/2.png" alt="">
								<span href="category.html" class="category-name">Cats</span>
							</div>
						</a>
					</div>
					<div class="col-6">
						<a class="category-bx" href="category.html">	
							<div class="dz-media">
								<img src="assets/images/category/category1/3.png" alt="">
								<span href="category.html" class="category-name">Rabbits</span>
							</div>
						</a>
					</div>
					<div class="col-6">
						<a class="category-bx" href="category.html">	
							<div class="dz-media">
								<img src="assets/images/category/category1/4.png" alt="">
								<span href="category.html" class="category-name">Parrot</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- Category End -->

			<!-- Category2 Start -->
		<app-services></app-services>
			<!-- Category2 Start -->

			<!-- Nearby -->		
			<div class="dz-box style-4">
				<div class="title-bar align-items-end mb-2">
					<div class="left">
						<h4 class="title max-w200">Reliable Healthy Food For Your Pet</h4>
					</div>
					<a href="products.html">See All</a>
				</div>
				<div class="swiper dz-category-swiper3 mb-3">
					<div class="swiper-wrapper">
						<div class="swiper-slide">	
							<a href="category.html" class="category-tag tag-lg active">Dogs Food</a>
						</div>
						<div class="swiper-slide">
							<a href="category.html" class="category-tag tag-lg">Cats Food</a>
						</div>
						<div class="swiper-slide">	
							<a href="category.html" class="category-tag tag-lg">Rabbits Food</a>
						</div>
						<div class="swiper-slide">	
							<a href="category.html" class="category-tag tag-lg">Parrot Food</a>
						</div>
						<div class="swiper-slide">	
							<a href="category.html" class="category-tag tag-lg">Hamster Food</a>
						</div>
					</div>
				</div>
				<div class="row g-3">
					<div class="col-6">
						<div class="dz-card">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic1.png" alt="image">	
								</a>
								<a href="javascript:void(0);" class="item-bookmark">
									<i class="feather icon-heart-on"></i>
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic2.png" alt="image">	
								</a>
								<a href="javascript:void(0);" class="item-bookmark">
									<i class="feather icon-heart-on"></i>
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Cloths</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic3.png" alt="image">	
								</a>
								<a href="javascript:void(0);" class="item-bookmark">
									<i class="feather icon-heart-on"></i>
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Pet Bed For Dog</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic4.png" alt="image">	
								</a>
								<a href="javascript:void(0);" class="item-bookmark">
									<i class="feather icon-heart-on"></i>
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Chew Toys</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Nearby -->

			<!-- Gallery box -->
			<div class="dz-galley">
				<li>
					<img src="assets/images/gallery/1.png" alt="">
					<img src="assets/images/gallery/2.png" alt="">
				</li>
				<li>
					<img src="assets/images/gallery/3.png" alt="">
					<img src="assets/images/gallery/4.png" alt="">
				</li>
				<li>
					<img src="assets/images/gallery/5.png" alt="">
				</li>
			</div>
			<!-- Gallery box -->

			<!-- Testimonial -->
			<div class="title-bar align-items-end mb-2">
				<div class="left">
					<h5 class="title">What pet lovers say about us?</h5>
				</div>
				<a href="products.html">See All</a>
			</div>
			<div class="swiper dz-testimonial-swiper m-b35">
				<div class="swiper-wrapper">
					<div class="swiper-slide">	
						<div class="dz-testimonial">
							<div class="testimonial-head">
								<div class="media gap-2 flex-1">
									<div class="media-30"><img class="rounded-circle" src="assets/images/avatar/avatar-sm/1.png" alt=""></div>
									<h6 class="title mb-0">Kenneth Fong</h6>
								</div>
								<div class="icon">
									<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.025 8.37748C9.47804 7.85949 8.75336 7.5708 8.00002 7.5708C7.24669 7.5708 6.52201 7.85949 5.97502 8.37748L3.53252 10.6875C2.13252 11.96 3.14252 14.3925 5.03252 14.2975C6.05752 14.27 6.89002 13.745 7.99752 13.765C9.14502 13.745 9.99753 14.2075 11.0275 14.2975C12.885 14.34 13.845 11.935 12.465 10.6875L10.025 8.37748Z" fill="black"></path>
										<path d="M14.23 4.98266C13.275 4.79516 12.545 5.85766 12.355 6.77266C11.785 9.60516 14.53 10.1452 15.1725 7.39766C15.435 6.22016 15.02 5.15766 14.23 4.98266Z" fill="black"></path>
										<path d="M10.1826 6.51259C11.1326 6.51259 11.9051 5.43259 11.9051 4.10759C11.8101 0.917588 8.55515 0.917588 8.46265 4.10759C8.46265 5.43259 9.23515 6.51259 10.1826 6.51259Z" fill="black"></path>
										<path d="M3.64504 6.77266C3.45754 5.85766 2.72504 4.79516 1.77004 4.98266C4.00543e-05 5.43016 0.75004 9.20266 2.48004 9.21266C3.46004 9.18016 3.91254 8.04266 3.64504 6.77266Z" fill="black"></path>
										<path d="M5.81747 6.51259C6.76497 6.51259 7.53747 5.43259 7.53747 4.10759C7.44497 0.917588 4.18997 0.917588 4.09497 4.10759C4.09497 5.43259 4.86747 6.51259 5.81747 6.51259Z" fill="black"></path>
									</svg>					
								</div>
							</div>
							<div class="testimonial-content">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>	
					</div>
					<div class="swiper-slide">	
						<div class="dz-testimonial">
							<div class="testimonial-head">
								<div class="media gap-2 flex-1">
									<div class="media-30"><img class="rounded-circle" src="assets/images/avatar/avatar-sm/2.png" alt=""></div>
									<h6 class="title mb-0">Kenneth Fong</h6>
								</div>
								<div class="icon">
									<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.025 8.37748C9.47804 7.85949 8.75336 7.5708 8.00002 7.5708C7.24669 7.5708 6.52201 7.85949 5.97502 8.37748L3.53252 10.6875C2.13252 11.96 3.14252 14.3925 5.03252 14.2975C6.05752 14.27 6.89002 13.745 7.99752 13.765C9.14502 13.745 9.99753 14.2075 11.0275 14.2975C12.885 14.34 13.845 11.935 12.465 10.6875L10.025 8.37748Z" fill="black"></path>
										<path d="M14.23 4.98266C13.275 4.79516 12.545 5.85766 12.355 6.77266C11.785 9.60516 14.53 10.1452 15.1725 7.39766C15.435 6.22016 15.02 5.15766 14.23 4.98266Z" fill="black"></path>
										<path d="M10.1826 6.51259C11.1326 6.51259 11.9051 5.43259 11.9051 4.10759C11.8101 0.917588 8.55515 0.917588 8.46265 4.10759C8.46265 5.43259 9.23515 6.51259 10.1826 6.51259Z" fill="black"></path>
										<path d="M3.64504 6.77266C3.45754 5.85766 2.72504 4.79516 1.77004 4.98266C4.00543e-05 5.43016 0.75004 9.20266 2.48004 9.21266C3.46004 9.18016 3.91254 8.04266 3.64504 6.77266Z" fill="black"></path>
										<path d="M5.81747 6.51259C6.76497 6.51259 7.53747 5.43259 7.53747 4.10759C7.44497 0.917588 4.18997 0.917588 4.09497 4.10759C4.09497 5.43259 4.86747 6.51259 5.81747 6.51259Z" fill="black"></path>
									</svg>					
								</div>
							</div>
							<div class="testimonial-content">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<!-- Testimonial -->

			<div class="dz-box style-2">
				<div class="title-bar">
					<h5 class="title mb-0">People Also Viewed</h5>
					<a href="products.html">See All</a>
				</div>
				<div class="row g-3">
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic5.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic6.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Cloths</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic7.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Pet Bed For Dog</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic8.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Chew Toys</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dz-box style-3">
				<div class="title-bar">
					<h5 class="title mb-0">Items in your cart</h5>
					<a href="cart.html" class="font-13 font-w500">View Cart</a>
				</div>
				<div class="row mb-2">	
					<div class="col-12 mb-3">
						<div class="dz-card list">
							<div class="dz-media media-75">
								<img src="assets/images/product/product3/1.png" alt="">
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Cloths</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
								</ul>
								<div class="dz-quantity">Quantity: <span class="quantity">1</span></div>
							</div>
							<a href="javascript:void(0);" class="dz-icon icon-sm"><i class="feather icon-x"></i></a>
						</div>
					</div>
					<div class="col-12 mb-3">
						<div class="dz-card list">
							<div class="dz-media media-75">
								<img src="assets/images/product/product3/3.png" alt="">
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Pet Bed For Dog</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
								</ul>
								<div class="dz-quantity">Quantity: <span class="quantity">1</span></div>
							</div>
							<a href="javascript:void(0);" class="dz-icon icon-sm"><i class="feather icon-x"></i></a>
						</div>
					</div>
					<div class="col-12 mb-3">
						<div class="dz-card list">
							<div class="dz-media media-75">
								<img src="assets/images/product/product3/2.png" alt="">
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Chew Toys</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
								</ul>
								<div class="dz-quantity">Quantity: <span class="quantity">1</span></div>
							</div>
							<a href="javascript:void(0);" class="dz-icon icon-sm"><i class="feather icon-x"></i></a>
						</div>
					</div>
				</div>
				<a href="checkout.html" class="btn btn-primary font-15 font-w500 w-100">Proceed to checkout (3)</a>
			</div>

			<div class="dz-box style-4">
				<div class="title-bar align-items-start">
					<div class="left">
						<h5 class="title mb-0">Popular Nearby</h5>
						<span>Up to 60% off + up to $107 casHACK</span>
					</div>
					<a href="products.html">See All</a>
				</div>
				<div class="row g-3">
					<div class="col-6">
						<div class="dz-card style-4">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product4/pic1.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Beagle</a></h6>
								<ul class="dz-meta">
									<li class="dz-status"><span>Special Offer</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-4">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product4/pic2.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Labrador</a></h6>
								<ul class="dz-meta">
									<li class="dz-status"><span>Min. 70% Off</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-4">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product4/pic3.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Russell Terrier</a></h6>
								<ul class="dz-meta">
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-4">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product4/pic4.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Bulldog</a></h6>
								<ul class="dz-meta">
									<li class="dz-status"><span>Up To 90% Off</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Beat Deals -->
			<div class="dz-box bg-white deals-area">
				<div class="title-bar">
					<h5 class="title mb-0">Blockbuster deals</h5>
					<a href="cart.html">See All Deals</a>
				</div>
				<div class="swiper dealSwiper2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/1.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/2.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/3.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/4.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/5.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media" data-swiper-parallax="-300">
								<img src="assets/images/product/product2/deals/6.png" />
							</div>
							<div class="product-detail">
								<h6 class="offer" data-swiper-parallax="-200">up to 79% off</h6>
								<p class="title-text" data-swiper-parallax="-100">Fresh & Fit: Raw Food Diet for Dogs</p>
							</div>
						</div>
					</div>
				</div>
				<div thumbsSlider="" class="swiper dealSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/1.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/2.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/3.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/4.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/5.png" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-media media-70">
								<img src="assets/images/product/product2/deals/6.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Beat Deals -->

			<!-- Wishlist Product -->
			<div class="dz-box">
				<div class="title-bar">
					<h5 class="title mb-0">Add To Your Wishlist</h5>
					<a href="wishlist.html">See All</a>
				</div>
				<div class="swiper dz-product-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-card">
								<div class="dz-media">
									<a href="product-detail.html">
										<img src="assets/images/product/product1/pic1.png" alt="image">	
									</a>
									<a href="javascript:void(0);" class="item-bookmark">
										<i class="feather icon-heart-on"></i>
									</a>
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card">
								<div class="dz-media">
									<a href="product-detail.html">
										<img src="assets/images/product/product1/pic2.png" alt="image">	
									</a>
									<a href="javascript:void(0);" class="item-bookmark">
										<i class="feather icon-heart-on"></i>
									</a>
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card">
								<div class="dz-media">
									<a href="product-detail.html">
										<img src="assets/images/product/product1/pic3.png" alt="image">	
									</a>
									<a href="javascript:void(0);" class="item-bookmark">
										<i class="feather icon-heart-on"></i>
									</a>
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Wishlist Product -->

			<!-- Featured Product -->		
			<div class="dz-box style-4">
				<div class="title-bar align-items-start">
					<h5 class="title mb-0">Featured now</h5>
					<a href="products.html">See All</a>
				</div>
				<div class="swiper dz-featured-swiper mb-4">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-card list list-style-2">
								<div class="dz-media media-75">
									<img src="assets/images/product/product3/4.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Russell Terrier</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
										<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
									</ul>
									<div class="dz-offer">40% Off</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card list list-style-2">
								<div class="dz-media media-75">
									<img src="assets/images/product/product3/5.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">labrador</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
										<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
									</ul>
									<div class="dz-offer">40% Off</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card list list-style-2">
								<div class="dz-media media-75">
									<img src="assets/images/product/product3/6.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title"><a href="product-detail.html">Beagle</a></h6>
									<ul class="dz-meta">
										<li class="dz-price">$80<del>$95</del></li>
										<li class="dz-review"><i class="feather icon-star-on"></i><span>(2k Review)</span></li>
									</ul>
									<div class="dz-offer">40% Off</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="title-bar align-items-start">
					<h5 class="title mb-0">Featured offer for you</h5>
					<a href="products.html">See All</a>
				</div>
				<div class="swiper dz-featured-swiper2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-card style-5">
								<div class="dz-media">
									<img src="assets/images/banner/offer/banner1.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title">Get Flat $75 Back</h6>
									<span class="dz-status">Up to 40% Off</span>
									<a href="javascript:void(0);" class="btn btn-primary w-100 btn-sm">Collect Now</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card style-5">
								<div class="dz-media">
									<img src="assets/images/banner/offer/banner2.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title">Get Flat $75 Back</h6>
									<span class="dz-status">Up to 40% Off</span>
									<a href="javascript:void(0);" class="btn btn-primary w-100 btn-sm">Collect Now</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-card style-5">
								<div class="dz-media">
									<img src="assets/images/banner/offer/banner1.png" alt="">
								</div>
								<div class="dz-content">
									<h6 class="title">Get Flat $75 Back</h6>
									<span class="dz-status">Up to 40% Off</span>
									<a href="javascript:void(0);" class="btn btn-primary w-100 btn-sm">Collect Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Featured Product -->

			<div class="dz-box">
				<div class="title-bar align-items-start">
					<div class="left">
						<h5 class="title mb-1">Great saving on everyday essentials</h5>
						<span class="font-13">Up to 60% off + up to $107 Cash Back</span>
					</div>
				</div>
				<div class="row g-3">
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic5.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Body Belt</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic6.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Cloths</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic7.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Pet Bed For Dog</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="dz-card style-2">
							<div class="dz-media">
								<a href="product-detail.html">
									<img src="assets/images/product/product1/pic8.png" alt="image">	
								</a>
							</div>
							<div class="dz-content">
								<h6 class="title"><a href="product-detail.html">Dog Chew Toys</a></h6>
								<ul class="dz-meta">
									<li class="dz-price">$80<del>$95</del></li>
									<li class="dz-status"><span>Free delivery</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dz-box border-0 pb-2">
				<div class="title-bar">
					<h5 class="title mb-0">Sponsored</h5>
					<a href="products.html">See All</a>
				</div>
				<div class="row g-2">
					<div class="col-4">
						<a href="products.html">
							<div class="dz-card style-3">
								<div class="dz-media">
									<img src="assets/images/banner/offer/1.png" alt="image">	
								</div>
								<div class="dz-content">
									<span class="title">Pet Shop</span>
									<span class="offer">Min. 30% Off</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-4">
						<a href="products.html">
							<div class="dz-card style-3">
								<div class="dz-media">
									<img src="assets/images/banner/offer/2.png" alt="image">	
								</div>
								<div class="dz-content">
									<span class="title">Best Dog Food</span>
									<span class="offer">Up To 20% Off</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-4">
						<a href="products.html">
							<div class="dz-card style-3">
								<div class="dz-media">
									<img src="assets/images/banner/offer/3.png" alt="image">	
								</div>
								<div class="dz-content">
									<span class="title">Pet Food</span>
									<span class="offer">Min. 30% Off</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Main Content End -->
	
	<!-- Menubar -->
	<div class="menubar-area footer-fixed">
		<div class="toolbar-inner menubar-nav">
			<a href="index.html" class="nav-link active">
				<i class="fi fi-rr-home"></i>
			</a>
			<a href="wishlist.html" class="nav-link">
				<i class="fi fi-rr-heart"></i>
			</a>
			<a href="cart.html" class="nav-link">
				<i class="fi fi-rr-shopping-cart">
					<span class="cart-badge">14</span>
				</i>
			</a>
			<a href="category.html" class="nav-link">
				<i class="fi  fi-rr-document-signed"></i>
			</a>
			<a href="profile.html" class="nav-link">
				<i class="fi fi-rr-user"></i>
			</a>
		</div>
	</div>
	<!-- Menubar -->
	<!-- PWA Offcanvas -->
	<div class="offcanvas offcanvas-bottom pwa-offcanvas">
		<div class="container">
			<div class="offcanvas-body">
				<img class="logo dark" src="assets/images/app-logo/logo.png" alt="">
				<img class="logo light" src="assets/images/app-logo/logo-white.png" alt="">
				<h5 class="title">PetPerks Pet Care Store Ecommerce Mobile App Template</h5>
				<p class="pwa-text">Install "PetPerks Pet Care Store Ecommerce Mobile App Template" to your home screen for easy access, just like any other app</p>
				<button type="button" class="btn btn-sm btn-primary  pwa-btn me-2">Add to Home Screen</button>
				<button type="button" class="btn btn-sm pwa-close btn-secondary">Maybe later</button>
			</div>
		</div>
	</div>
	<div class="offcanvas-backdrop pwa-backdrop"></div>
	<!-- PWA Offcanvas End --> 
	
</div>  